<div class="loggedContainer">
    <div class="moduleTitle">ACCOUNT SETTING</div>

    <section class="acc-setting-container">
        <table>
            <tr class="border-bottom">
                <td class="label">User ID</td>
                <td class="desc">{{ user.id }}</td>
                <td class="edit"></td>
            </tr>
            <tr class="border-bottom">
                <td class="label">User Name</td>
                <ng-container *ngIf="editName; else show_name">
                    <td class="desc">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" [formControl]="nameFormControl" required/>
                        </mat-form-field>
                    </td>
                    <td class="edit">
                        <button mat-button class="saveBtn" [disabled]="!nameFormControl.valid" (click)="save('user name')">Save</button>
                        <button mat-button class="cancelBtn" (click)="changeEditValue('name')">Cancel</button>
                    </td>
                </ng-container>
                <ng-template #show_name>
                    <td class="desc">{{ user.name }}</td>
                    <td class="edit" (click)="changeEditValue('name')"><span>Edit</span></td>
                </ng-template>
            </tr>
            <tr class="border-bottom">
                <td class="label">IC/Passport No.</td>
                <ng-container *ngIf="editIdnum; else show_idnum">
                    <td class="desc">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" [formControl]="idnumFormControl" required/>
                        </mat-form-field>
                    </td>
                    <td class="edit">
                        <button mat-button class="saveBtn" [disabled]="!idnumFormControl.valid" (click)="save('IC/passport no.')">Save</button>
                        <button mat-button class="cancelBtn" (click)="changeEditValue('idnum')">Cancel</button>
                    </td>
                </ng-container>
                <ng-template #show_idnum>
                    <td class="desc">{{ user.idnum }}</td>
                    <td class="edit" (click)="changeEditValue('idnum')"><span>Edit</span></td>
                </ng-template>
            </tr>
            <tr class="border-bottom">
                <td class="label">Contact No.</td>
                <ng-container *ngIf="editPhnum; else show_phnum">
                    <td class="desc">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" [formControl]="phnumFormControl" required/>
                        </mat-form-field>
                    </td>
                    <td class="edit">
                        <button mat-button class="saveBtn" [disabled]="!phnumFormControl.valid" (click)="save('contact no.')">Save</button>
                        <button mat-button class="cancelBtn" (click)="changeEditValue('phnum')">Cancel</button>
                    </td>
                </ng-container>
                <ng-template #show_phnum>
                    <td class="desc">{{ user.ph_num }}</td>
                    <td class="edit" (click)="changeEditValue('phnum')"><span>Edit</span></td>
                </ng-template>
            </tr>
            <tr class="border-bottom">
                <td class="label">Email</td>
                <td class="desc">{{ user.email }}</td>
                <td></td>
            </tr>
            <tr>
                <td class="label">Password</td>
                <td class="desc">********</td>
                <td class="edit" (click)="sendPwdResetEmail()"><span>Send Password Reset Email</span></td>
            </tr>
        </table>
    </section>
</div>