<div class="dialog-container">
    <mat-toolbar class="dialog-toolbar">
        <span class="dialog-title">Task Detail</span>
        <button mat-icon-button class="closeBtn" tabindex=-1 (click)="closeDialog()">
            <mat-icon style="background: none;">close</mat-icon>
        </button>
    </mat-toolbar>
    <div>
        <div mat-dialog-content [ngStyle]="{'height': task.status!='Cancelled' ? '400px' : '460px'}">
            <mat-grid-list cols="6" rowHeight="3:2" gutterSize="10px">
                <mat-grid-tile>
                    <img src={{task.author.profile_pic}} style="height: 50px; width: 50px; border-radius: 50%;"/>
                </mat-grid-tile>
                <mat-grid-tile colspan="5">
                    <mat-card-content>
                        <span style="font-weight: bold; font-size: 17px;"><a class="clickable" (click)="openUserDialog(task.created_by)">{{task.author.name}}<mat-icon class="arrow">arrow_right</mat-icon></a></span><br>
                        <span>{{task.created_at.toDate() | date:'dd MMM yyyy h:mma'}}</span>
                    </mat-card-content>
                </mat-grid-tile>
                <mat-grid-tile colspan="4">
                    <mat-card-content>
                        <span style="font-weight: bold; font-size: 20px;">{{task.title}}</span><br>
                        <span style="color: gray; font-size: 12px;">ID: {{task.id}}</span>
                    </mat-card-content>
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <mat-card-content style="text-align: right; padding-right: 10px;">
                        <span style="font-weight: bold; border: 2px solid sandybrown; border-radius: 10px; padding: 5px; color: sandybrown;">{{task.status}}</span>
                    </mat-card-content>
                </mat-grid-tile>
            </mat-grid-list>
            <table>
                <tr><td colspan="6" class="table-label">Task Category</td></tr>
                <tr><td colspan="6">{{task.category}}</td></tr>
                <tr><td colspan="6" class="table-label">Task Description</td></tr>
                <tr><td colspan="6" style="text-align: left;">{{task.description}}</td></tr>
                <tr><td colspan="6" class="table-label">Additional Description</td></tr>
                <tr><td colspan="6" style="text-align: left;">{{task.additional_instruction!='' ? task.additional_instruction:'-'}}</td></tr>
                <tr>
                    <td colspan="2" class="table-label" style="width: 33%;">Task Deadline</td>
                    <td colspan="2" class="table-label" style="width: 33%;">Location</td>
                    <td colspan="2" class="table-label" style="width: 33%;">Fee</td>
                </tr>
                <tr>
                    <td colspan="2">{{task.task_deadline.toDate() | date:'dd MMM yyyy'}}<br>{{task.task_deadline.toDate() | date:'h:mma'}}</td>
                    <td colspan="2">{{task.location!='' ? task.location:'-'}}</td>
                    <td colspan="2">RM{{task.fee}}</td>
                </tr>
                <tr><td colspan="6" class="table-label">Tag(s)</td></tr>
                <tr><td colspan="6">{{task.tags!='' ? task.tags:'-'}}</td></tr>
                <tr><td colspan="6" class="table-label">Offered By</td></tr>
                <tr><td colspan="6">
                    <a *ngIf="providerId!=null; else none_text" class="clickable" (click)="openUserDialog(task.offered_by)">{{ providerId }}<mat-icon class="arrow">arrow_right</mat-icon></a>
                    <ng-template #none_text>-</ng-template>
                </td></tr>
                <tr><td colspan="6" class="table-label">Offer Deadline</td></tr>
                <tr><td colspan="6">{{task.offer_deadline.toDate() | date:'dd MMM yyyy h:mma'}}</td></tr>
                <tr><td colspan="6" class="table-label">No. of Offer Received</td></tr>
                <tr><td colspan="6">{{task.offer_num}}</td></tr>
                <tr><td colspan="6" class="table-label">Mark As Completed</td></tr>
                <tr>
                    <td colspan="3" class="table-label">By Authour</td>
                    <td colspan="3" class="table-label">By Provider</td>
                </tr>
                <tr>
                    <td colspan="3">{{task.is_complete_by_author}}</td>
                    <td colspan="3">{{task.is_complete_by_provider}}</td>
                </tr>
                <tr><td colspan="6" class="table-label">Rating</td></tr>
                <tr><td colspan="6">{{task.rating!=null ? task.rating:'-'}}</td></tr>
            </table>
        </div>
        <div mat-dialog-actions align="center" *ngIf="task.status!='Cancelled'">
            <button mat-button class="dialogBtn" style="background-color: gray;" tabindex=-1 (click)="cancelTask()">Cancel Task</button>
        </div>
    </div>
</div>
