@import url('../../app.component.scss');

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: sandybrown;
    height: 50px;
}

.dialog-title {
    text-align: center;
    display: inline-table;
    width: 100%;
    color: white;
    font-size: 20px;
}

.mat-dialog-content {
    margin: 20px 10px 0px 10px;
    // height: 400px;
}

.editBtn {
    position: absolute;
    background: none;
    color: white;
    line-height: 0px;
}

.closeBtn {
    position: relative;
    background: none;
    color: white;
    line-height: 0px;
}

.statusBtn {
    width: 100px;
    //color: white;
    border-style: solid;
    border-width: 1px;
    .mat-icon {
        font-size: 21px !important;
    }
}

.mat-button {
    .mat-menu-trigger {
      position: absolute;
      top: 0;
      right: -1px;
    }
}

.dialogBtn {
    font-size: 18px;
    color: white;
    width: 160px;
    position: relative;
}

.mat-menu-item {
    line-height: 36px;
    height: 36px;
}

.label {
    font-size: 17px; 
    color:#363E3F;
    font-weight: bold;
    width: 130px;
    padding-right: 10px;
}

.text-inside-grid {
    word-break: break-word;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

// td {
//     text-align: left;
//     vertical-align: top;
//     padding-top: 10px;
// }

td {
    border: 2px solid sandybrown;
    padding: 10px;
    text-align: center;
}

.table-label {
    font-weight: bold;
    color: white;
    background-color: sandybrown;
    padding: 0;
}

mat-card-content {
    width: 100%;
}
