@import url('../../app.component.scss');

.mat-dialog-content {
    margin: 20px 10px 0px 10px;
    height: 400px;
}

.dialogBtn {
    font-size: 18px;
    color: white;
    width: 160px;
    position: relative;
}

.label {
    font-size: 17px; 
    color:#363E3F;
    font-weight: bold;
    width: 130px;
    padding-right: 10px;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

::ng-deep .mat-select-arrow-wrapper {
    padding-top: 10px;
}

table {
    border-collapse: collapse;
}

td {
    text-align: left;
    vertical-align: top;
    padding-top: 10px;
    word-wrap: break-word;
    max-width: 390px;
}

.mat-form-field {
    width: 350px;
    margin-top: -0.6em;
}