<mat-sidenav-container class="overall-container" (backdropClick)="sidenav.toggle()">
  <mat-sidenav #sidenav mode="over">
    <ul class="sidenav">
      <mat-nav-list>
        <ng-container *ngFor="let menu of MENUS">
          <a mat-list-item [routerLink]="menu.naviPath"  tabindex=-1 (click)="sidenav.toggle()">{{menu.name}}</a>
        </ng-container>
      </mat-nav-list>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button class="menuBtn" type="button" aria-label="Toggle sidenav" (click)="sidenav.toggle()">
        <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
      </button>
      <span class="app-name">TaskPro Admin Console</span>
    </mat-toolbar>

    <div class="loggedContainer">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>