* {
    font-family: Arial, Helvetica, sans-serif;
}

.mat-icon{
    font-family: 'Material Icons' !important;
}

body {
    background-color: #fafafa;
}

.container {
    padding-top: 65px;
}

.loggedContainer {
    padding: 20px;
}

.overall-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;;
}

.mat-sidenav {
    background-color: sandybrown;
    width: 250px;
}

.app-toolbar {
    background-color: sandybrown;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.app-name {
    color: white;
    font-size: 30px;
    margin: auto;
    padding: 10px;
}

.username {
    color: white;
    font-size: 16px;
    position: absolute;
    right: 16px;
}

.menuBtn {
    background: none;
    border: none;
    color: white;
    position: absolute;
}

button {
    outline: none;
    overflow: hidden;
}

.backNavBar {
    height: 60px;
    background-color: sandybrown;
}

.backNavBarTitle {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top:5px;
    color: white;
    font-size: 32px;
    height: 60px;
}

.backBtn {
    height:59px;
    width: 70px;
    margin:0 60px;
    background: none;
    border:none;
    float:left;
}

.moduleTitle {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.module-container {
    margin : 15px 60px 0 60px;
}

::ng-deep .mat-dialog-container {
    background-color: #fafafa;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
}

::ng-deep .mat-dialog-container {
    padding: 0px;
}

::ng-deep .mat-form-field-infix {
    border-top: 4px solid transparent !important;
    padding: 0.5em 0 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: sandybrown;
}

::ng-deep .mat-form-field-subscript-wrapper {
    margin-top: 3px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 5px !important;
}

.clickable {
    color: #22A8DA !important;
    cursor: pointer;
}

.arrow {
    font-size: 16px;
    position: relative;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
