* {
    font-family: Arial, Helvetica, sans-serif;
}

.mat-icon{
    font-family: 'Material Icons' !important;
}

body {
    background-color: #fafafa;
}

.container {
    padding-top: 65px;
}

.loggedContainer {
    padding: 20px;
}

.overall-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;;
}

.mat-sidenav {
    background-color: sandybrown;
    width: 250px;
}

.app-toolbar {
    background-color: sandybrown;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.dialog-toolbar {
    background-color: sandybrown;
    height: 50px;
}

.dialog-title {
    text-align: center;
    display: inline-table;
    width: 100%;
    color: white;
    font-size: 20px;
}

.app-name {
    color: white;
    font-size: 30px;
    margin: auto;
    padding: 10px;
}

.username {
    color: white;
    font-size: 16px;
    position: absolute;
    right: 16px;
}

.menuBtn {
    background: none;
    border: none;
    color: white;
    position: absolute;
}

button {
    outline: none;
    overflow: hidden;
}

.moduleTitle {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.module-container {
    margin : 15px 60px 0 60px;
}

::ng-deep .mat-dialog-container {
    background-color: #fafafa;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
    word-break: break-word;
}

::ng-deep .mat-dialog-container {
    padding: 0px;
}

::ng-deep .mat-form-field-infix {
    border-top: 4px solid transparent !important;
    padding: 0.5em 0 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: sandybrown;
}

::ng-deep .mat-form-field-subscript-wrapper {
    margin-top: 3px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 5px !important;
}

.clickable {
    color: #22A8DA !important;
    cursor: pointer;
}

.arrow {
    font-size: 16px;
    position: relative;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.loading-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.loading-overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: sandybrown;
}

.editBtn {
    position: absolute;
    background: none;
    color: white;
    line-height: 0px;
}

.closeBtn {
    position: relative;
    background: none;
    color: white;
    line-height: 0px;
}

.statusBtn {
    width: 100px;
    border-style: solid;
    border-width: 1px;
}

.mat-button .mat-menu-trigger {
    position: absolute;
    top: 0;
    right: -1px;
}

.yellowBtn {
    color: sandybrown !important;
    border-color: sandybrown;
}

.redBtn {
    color: red !important;
    border-color: red;
}

.greenBtn {
    color: green !important;
    border-color: green;
}

.mat-menu-item {
    line-height: 36px;
    height: 36px;
}