@import url('../../app.component.scss');

.form-container {
    padding: 3.5em;
    width: 500px;
    margin: auto;
}

.login-btn {
    background: sandybrown;
    color: white;
    font-size: 18px;
    width: 160px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

input.input-txt {
    background: #fff !important;
    padding: 0.5em 1em;
    font-size: 1.3em;
    border: 1px solid #BBBBBB;
    width: 90%;
    margin-bottom: 1.5em;
    margin-top: 0.4em;
}

label {
    font-weight: bold;
    font-size: 17px; 
    color:#363E3F;
    margin-bottom: 10px;
}