@import url('../../app.component.scss');

.mat-dialog-content {
    margin: 20px 10px 0px 10px;
    height: 460px;
}

.statusBtn {
    width: 110px;
    padding: 0 12px;
}

.assignBtn {
    text-align: left;
    padding: 0 12px;
    border-style: solid;
    border-width: 1px;
}

.dialogBtn {
    font-size: 18px;
    color: white;
    width: 220px;
    position: relative;
}

.label {
    font-size: 17px; 
    color:#363E3F;
    font-weight: bold;
    width: 130px;
    padding-right: 10px;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

table {
    border-collapse: collapse;
}

td {
    text-align: left;
    vertical-align: top;
    padding-top: 10px;
}
