@import url('../../app.component.scss');

.statusBtn {
    width: 110px;
    padding: 0 12px;
}

::ng-deep .mat-menu-content:not(:empty) {
    padding: 0px !important;
}

::ng-deep .mat-menu-panel {
    min-width: 0px !important;
    min-height: 0px !important;
}
