@import url('../../app.component.scss');

.mat-dialog-content {
    margin: 20px 10px 0px 10px;
    height: 400px;
}

.dialogBtn {
    font-size: 18px;
    color: white;
    width: 160px;
    position: relative;
}

.label {
    font-size: 17px; 
    color:#363E3F;
}

.field-value {
    padding-top: 10px;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}

::ng-deep .mat-select-arrow-wrapper {
    padding-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 2px solid sandybrown;
    padding: 10px;
    text-align: center;
}

.table-label {
    font-weight: bold;
    color: white;
    background-color: sandybrown;
    padding: 0;
}

mat-card-content {
    width: 100%;
}